<style lang="scss">
#no-background-hover::before {
  background-color: transparent !important;
}
</style>
<template>
  <v-app>
    <Alert />
    <Dialog />
    <v-navigation-drawer app temporary v-model="drawer">
      <v-list>
        <v-list-item two-line v-if="!guest">
          <v-list-item-avatar>
            <img
              v-bind:src="
                user.photo_profile
                  ? apiDomain + user.photo_profile
                  : 'https://randomuser.me/api/potraits/men/78.jpg'
              "
            />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ user.name }}</v-list-item-title>
            <v-list-item-subtitle>{{ user.email }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider v-if="!guest"></v-divider>
        <v-list-item to="/add" v-if="!guest">
          <v-list-item-icon>
            <v-icon left>mdi-pencil-plus</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Add Blog</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          v-for="(item, index) in menus"
          :key="`menu.${index}`"
          :to="item.route"
        >
          <v-list-item-icon>
            <v-icon left>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <div class="pa-2" v-if="guest">
          <v-btn block color="primary" @click="login">
            <v-icon left>mdi-lock</v-icon>
            Login
          </v-btn>
        </div>
        <div class="pa-2" v-if="guest">
          <v-btn block color="success" @click="register">
            <v-icon left>mdi-account</v-icon>
            Register
          </v-btn>
        </div>
        <div class="pa-2" v-if="!guest">
          <v-btn block color="red" @click="logout">
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn>
        </div>
      </v-list>
    </v-navigation-drawer>

    <div>
      <v-app-bar app>
        <v-app-bar-nav-icon
          class="hidden-md-and-up"
          @click.stop="drawer = !drawer"
        ></v-app-bar-nav-icon>

        <v-img
          class="hidden-sm-and-down mx-2"
          :src="require('./assets/logo.png')"
          max-height="40"
          max-width="40"
          contain
        ></v-img>

        <v-toolbar-title class="hidden-md-and-up ma-3"
          >Kelompok 9</v-toolbar-title
        >

        <v-toolbar-items class="hidden-sm-and-down ma-3">
          <v-btn
            v-for="(item, index) in menus"
            :key="`menu.${index}`"
            :to="item.route"
          >
            <v-icon left dark>{{ item.icon }}</v-icon>
            {{ item.title }}
          </v-btn>
        </v-toolbar-items>
        <v-spacer></v-spacer>
        <div class="hidden-sm-and-down">
          <v-btn v-if="guest" color="primary" class="ma-2" @click="login">
            <v-icon left>mdi-lock</v-icon>
            Login
          </v-btn>
          <v-btn v-if="guest" color="success" class="ma-2" @click="register">
            <v-icon left>mdi-account</v-icon>
            Register
          </v-btn>
          <!-- <v-btn v-if="!guest" color="red" class="mx-auto" @click="logout">
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn> -->
        </div>
        <v-menu v-if="!guest" bottom min-width="200px" rounded offset-y>
          <template v-slot:activator="{ on }">
            <v-btn
              class="hidden-sm-and-down ma-3"
              icon
              x-large
              v-on="on"
              id="no-background-hover"
              :ripple="false"
            >
              <v-avatar size="48">
                <img
                  v-bind:src="
                    user.photo_profile
                      ? apiDomain + user.photo_profile
                      : 'https://randomuser.me/api/potraits/men/78.jpg'
                  "
                />
              </v-avatar>
              <v-icon>mdi-menu-down</v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-list-item-content class="justify-center">
              <div class="mx-auto text-center">
                <v-avatar>
                  <img
                    v-bind:src="
                      user.photo_profile
                        ? apiDomain + user.photo_profile
                        : 'https://randomuser.me/api/potraits/men/78.jpg'
                    "
                  />
                </v-avatar>
                <h4>{{ user.name }}</h4>
                <p class="text-caption mt-1">
                  {{ user.email }}
                </p>
                <v-divider class="my-3"></v-divider>
                <v-btn depressed rounded text to="/add"> Add Blog </v-btn>
                <v-divider class="my-3"></v-divider>
                <v-btn depressed rounded text @click="logout"> Logout </v-btn>
              </div>
            </v-list-item-content>
          </v-card>
        </v-menu>
      </v-app-bar>
    </div>

    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <v-slide-y-transition>
          <!-- If using vue-router -->
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    Alert: () => import("./components/Alert.vue"),
    Dialog: () => import("./components/Dialog.vue"),
  },

  data: () => ({
    drawer: false,
    menus: [
      { title: "Home", icon: "mdi-home", route: "/" },
      { title: "Blogs", icon: "mdi-note", route: "/blogs" },
    ],
    apiDomain: "http://demo-api-vue.sanbercloud.com",
  }),
  computed: {
    ...mapGetters({
      guest: "auth/guest",
      user: "auth/user",
      token: "auth/token",
    }),
  },
  methods: {
    logout() {
      let config = {
        method: "POST",
        url: this.apiDomain + "/api/v2/auth/logout",
        headers: {
          Authorization: "Bearer " + this.token,
        },
      };

      this.axios(config)
        .then(() => {
          this.setToken("");
          this.setUser({});
          this.setAlert({
            status: true,
            color: "success",
            text: "Anda berhasil logout",
          });
        })
        .catch((response) => {
          console.log(response);
          this.setAlert({
            status: true,
            color: "error",
            text: response.data.error,
          });
        });
    },
    login() {
      this.setDialogComponent({ component: "login" });
    },
    register() {
      this.setDialogComponent({ component: "register" });
    },
    ...mapActions({
      setAlert: "alert/set",
      setDialogComponent: "dialog/setComponent",
      setToken: "auth/setToken",
      setUser: "auth/setUser",
      checkToken: "auth/checkToken",
    }),
  },
  mounted() {
    if (this.token) {
      this.checkToken(this.token);
    }
  },
};
</script>
