<template>
  <v-card>
    <v-container fluid>
      <h2 class="text-center mb-5">Add Blog</h2>
      <v-divider class="mb-5"></v-divider>
      <v-form ref="form">
        <h4 class="ml-1 mb-3">Blog Title</h4>
        <v-text-field
          v-model="title"
          label="Title"
          required
          outlined
          :counter="30"
          :rules="titleRules"
        ></v-text-field>
        <h4 class="ml-1 mb-3">Blog Description</h4>
        <v-textarea
          outlined
          v-model="description"
          :counter="500"
          :rules="descriptionRules"
        >
          <template v-slot:label>
            <div>Blog Description <small>(optional)</small></div>
          </template>
        </v-textarea>

        <div class="text-center mt-2 mb-5">
          <v-btn color="success" dark block @click="submit"> Submit </v-btn>
        </div>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      errors: [],
      title: "",
      description: "",
      titleRules: [
        (v) => !!v || "Title is required",
        (v) => (v && v.length <= 30) || "Title must be less than 30 characters",
      ],
      descriptionRules: [
        (v) => !!v || "Description is required",
        (v) =>
          (v && v.length <= 500) ||
          "Description must be less than 500 characters",
      ],
      apiDomain: "https://demo-api-vue.sanbercloud.com",
    };
  },
  computed: {
    ...mapGetters({
      token: "auth/token",
    }),
  },
  methods: {
    ...mapActions({
      setAlert: "alert/set",
      setToken: "auth/setToken",
    }),
    validationForm() {
      this.errors = [];
      //Validate Title
      if (!this.title) {
        this.errors.push("Judul tidak boleh kosong!");
      } else if (this.title.length > 50) {
        this.errors.push("Judul tidak boleh lebih dari 50 karakter!");
      }
      //Validate Description
      if (!this.description) {
        this.errors.push("Deskripsi tidak boleh kosong!");
      } else if (this.description.length > 500) {
        this.errors.push("Email tidak boleh lebih dari 500 karakter!");
      }
    },
    submit() {
      this.validationForm();
      if (this.errors.length === 0) {
        const config = {
          method: "POST",
          url: this.apiDomain + "/api/v2/blog",
          data: {
            title: this.title,
            description: this.description,
          },
          headers: {
            Authorization: "Bearer " + this.token,
          },
        };
        this.axios(config)
          .then((response) => {
            console.log(response.data);
            this.setAlert({
              status: true,
              color: "success",
              text: "Blog berhasil ditambahkan.",
            });
            this.close();
            this.$router.push("/");
          })
          .catch((response) => {
            console.log(response);
            this.setAlert({
              status: true,
              color: "error",
              text: "Blog gagal ditambahkan.",
            });
          });
      }
    },
    close() {
      this.$emit("closed", false);
    },
  },
};
</script>
