<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex>
        <v-card class="my-3" hover>
          <v-img
            height="300px"
            :src="
              blog.photo
                ? apiDomain + blog.photo
                : `https://picsum.photos/200/300`
            "
          >
            <!-- <v-card-title class="pb-0">{{ blog.title }}</v-card-title> -->
          </v-img>
          <v-card-title>{{ blog.title }}</v-card-title>
          <v-card-text>
            {{ blog.description }}
          </v-card-text>
          <v-card-actions v-if="!guest">
            <v-list-item class="grow pa-2">
              <v-row align="center" justify="end">
                <v-btn
                  color="orange darken-3"
                  class="white--text ma-1"
                  @click="uploadPhoto"
                >
                  Upload Photo
                </v-btn>
                <v-btn color="success" class="ma-1" @click="editBlog">
                  Edit
                </v-btn>
                <v-btn color="error" class="ma-1" @click="deleteBlog(blog.id)">
                  Delete
                </v-btn>
              </v-row>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data: () => ({
    blog: {},
    apiDomain: "http://demo-api-vue.sanbercloud.com",
  }),
  computed: {
    ...mapGetters({
      guest: "auth/guest",
      token: "auth/token",
    }),
  },
  methods: {
    ...mapActions({
      setAlert: "alert/set",
      setToken: "auth/setToken",
      setDialogComponent: "dialog/setComponent",
    }),
    uploadPhoto() {
      this.setDialogComponent({
        component: "uploadPhoto",
        params: {
          id: this.blog.id,
        },
      });
    },
    editBlog() {
      this.setDialogComponent({
        component: "edit",
        params: {
          id: this.blog.id,
        },
      });
    },
    deleteBlog(id) {
      let config = {
        method: "POST",
        url: this.apiDomain + "/api/v2/blog/" + id,
        headers: {
          Authorization: "Bearer " + this.token,
        },
        params: { _method: "DELETE" },
      };

      let confirmation = confirm("Anda yakin ?");
      if (confirmation) {
        this.axios(config)
          .then(() => {
            this.setAlert({
              status: true,
              color: "success",
              text: "Blog Berhasil Dihapus",
            });
            this.$router.push("/");
          })
          .catch((response) => {
            console.log(response);
            this.setAlert({
              status: true,
              color: "error",
              text: response.data.error,
            });
          });
      }
    },

    go() {
      //console.log(this.$route.params);
      let { id } = this.$route.params;
      const config = {
        method: "GET",
        url: `${this.apiDomain}/api/v2/blog/${id}`,
      };
      this.axios(config)
        .then((response) => {
          let { blog } = response.data;
          this.blog = blog;
          //console.log(blog);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  created() {
    this.go();
  },
};
</script>
