<template>
  <!-- Template Blogs -->
  <v-container grid-list-md text-xs-center>
    <div class="text-right">
      <v-btn small text to="/blogs" class="blue--text">
        All Blogs <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout row wrap>
      <v-flex>
        <blog-item-component
          v-for="blog in blogs"
          :key="`blog-` + blog.id"
          :blog="blog"
        ></blog-item-component>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import BlogItemComponent from "../components/BlogItemComponent.vue";
import { mapGetters, mapMutations } from "vuex";
export default {
  data: () => ({
    apiDomain: "http://demo-api-vue.sanbercloud.com",
    blogs: [],
  }),

  components: {
    "blog-item-component": BlogItemComponent,
  },

  computed: {
    // count() {
    //   return this.$store.getters.count;
    // },
    ...mapGetters({
      count: "counter/count",
    }),
  },

  methods: {
    go() {
      const config = {
        method: `GET`,
        url: this.apiDomain + "/api/v2/blog/random/4",
      };

      this.axios(config)
        .then((response) => {
          let { blogs } = response.data;
          this.blogs = blogs;
          //console.log(response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    // increment(payload) {
    //   this.$store.commit("increment", payload);
    // },
    ...mapMutations({
      increment: "counter/increment",
    }),
  },

  created() {
    //tes vuex
    //console.log(this.$store.state.count);
    this.go();
  },
};
</script>
