<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Latihan VueX</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{ $store.state.title }}</h1>
      <h1>{{ $store.state.count }}</h1>
      <p>state management pattern</p>
      <button @click="handleclick">Hitung</button>
    </div>
    <script>
      const store = new Vuex.Store({
        state: {
          title: "VueJS",
          count: 1,
        },
        mutations: {
          increment(state) {
            state.count++;
          },
        },
        actions: {},
      });
      new Vue({
        el: "#app",
        data: {},
        store,
        methods: {
          handleclick() {
            this.$store.commit("increment");
          },
        },
      });
    </script>
  </body>
</html>
