<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Latihan Vue Router</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.7/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- http-server --port="3000" -->
  </head>
  <body>
    <div id="app">
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
      <router-link to="/detail">Detail</router-link>
      <router-link to="/admin">Admin</router-link>
      <router-view></router-view>
    </div>

    <script>
      const Home = {
        template: `
          <div>

            <div>
        <table border="1">
          <thead>
            <tr>
              <td>No</td>
              <td>Nama</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(member,index) in members" :key="index">
              <td>{{index+1}}</td>
              <td>{{member.name}}</td>
              <td><router-link to="'/detail/'+member.id">Detail</router-link></td>
            </tr>
          </tbody>
        </table>
      </div>        </div>`,
        data: {
          url: "http://demo-api-vue.sanbercloud.com",
          form: {
            id: "",
            name: "",
            address: "",
            no_hp: "",
          },
          errors: [],
          members: [],
          buttonStatus: "submit",
          dummy: "https://dummyimage.com/100/cccccc",
        },
        created() {
          //halaman belum muncul, jadi dipanggil disini
          this.getMembers();
        },
        methods: {
          getMembers: function () {
            const config = {
              method: "get",
              url: "http://demo-api-vue.sanbercloud.com/api/member",
            };

            axios(config)
              .then((response) => {
                //console.log(response);
                this.members = response.data.members;
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
      };

      const About = {
        template: `
          <div>
            <h1>Ini Halaman About</h1>
          </div>`,
      };

      const Detail = {
        template: `
          <div>
            <ul>
        <li>ID: {{member.id}}</li>
        <li>Nama: {{member.name}}</li>
        <li>No Hp: {{member.no_hp}}</li>
        <li>Alamat: {{member.address}}</li>
      </ul>
              </div>`,
        data: {
          url: "http://demo-api-vue.sanbercloud.com",
          form: {
            id: "",
            name: "",
            address: "",
            no_hp: "",
          },
          errors: [],
          member: [],
          buttonStatus: "submit",
          dummy: "https://dummyimage.com/100/cccccc",
        },
        created() {
          //halaman belum muncul, jadi dipanggil disini
          this.getMember();
        },
        methods: {
          getMember: function () {
            const config = {
              method: "get",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${this.$route.params.id}`,
            };

            axios(config)
              .then((response) => {
                //console.log(response);
                this.member = response.data.member;
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
      };

      const NotFound = {
        template: `
          <div>
            <h1>Halaman tidak ada, Anda Salah.</h1>
          </div>`,
      };

      const Admin = {
        template: `
          <div>
            <h1>Ini Halaman Admin</h1>
          </div>`,
      };

      const routes = [
        { path: "/", component: Home },
        { path: "/about", component: About },
        { path: "/detail/:id", component: Detail },
        { path: "/admin", component: Admin },
        //jika tidak ada halaman
        //{ path: "*", component: NotFound },
        //atau
        { path: "*", redirect: "/" },
      ];

      //Instance new VueRouter
      const router = new VueRouter({
        routes,
      });

      // router.beforeEach((to, from, next) => {
      //   // to and from are both route objects. must call `next`.
      //   if (to.matched.some((record) => record.meta.login)) {
      //     let auth = true;
      //     if (!auth) {
      //       alert("Anda harus login");
      //       next(false);
      //     } else {
      //       next();
      //       alert("Berhasil Masuk");
      //     }
      //   } else {
      //     next();
      //   }
      // });

      let vm = new Vue({
        el: "#app",
        router,
      });
    </script>
  </body>
</html>
