<!-- 
1. bikin form add
2. masukin ke list
3. list bisa di edit dan delete
4. ketika edit, tombol add jadi update
5. ketika delete ada konfirmasi terlebih dahulu
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz 2</title>
    <!-- Menyisipkan Vuejs dari CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model:value="newUser" />
      <button @click="addUser" v-if="!isEdit">Add</button>
      <button @click="updateUser" v-if="isEdit">Update</button>

      <ul>
        <li v-for="user in users">
          {{ user.name }}
          <button type="button" @click="editUser(user)">Edit</button>
          <button type="button" @click="deleteUser(user)">Delete</button>
          <button @click="() => editUser(user)">Edit</button>
        </li>
      </ul>
    </div>
    <script>
      var app = new Vue({
        el: "#app", //sesuaikan dengan id pada html
        data() {
          return {
            newUser: "",
            users: [
              { name: "Muhammad Iqbal Mubaroq" },
              { name: "Ruby Purwanti" },
              { name: "Faqih Muhammad" },
            ],
            isEdit: false,
            editId: null,
          };
        },
        methods: {
          addUser: function () {
            if (this.newUser !== "") {
              this.users.push({
                id: this.newUser,
                name: this.newUser,
              });
            } else {
              alert("Masukkan Nama");
            }
          },
          editUser: function (name) {
            this.isEdit = true;
            this.newUser = name;
          },
          // editUser({ name, id }) {
          //   this.isEdit = true;
          //   this.newUser = name;
          //   this.editId = id;
          // },
          editHendeler({ name, id }) {
            this.isEdit = true;
            this.newUser = name;
            this.editId = id;
          },
          deleteUser: function (user) {
            var remove = confirm("Anda Yakin ?");
            if (remove === true) {
              this.users.splice(this.users.indexOf(user), 1);
            }
          },
          editUser: function (user) {
            user.editing = false;
          },
          updateUser: function () {
            // if (this.todoName !== "") {
            //   this.todos = [
            //     ...this.todos
            //       .filter((items) => items.id === this.editId)
            //       .map((item) => ({ ...item, name: this.todoName })),
            //     ...this.todos
            //       .filter((items) => items.id !== this.editId)
            //       .map((item) => ({ ...item })),
            //   ];
            //   this.todoName = "";
            //   this.isEdit = false;
            // } else {
            //   alert("Update Your Todos");
            // }
          },
        },
      });
    </script>
  </body>
</html>
