<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz 2</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <form>
      <input type="text" v-model="form.name"> 
      <button @click.prevent="add" v-if="!buttonUpdate">Add</button>
      <button @click.prevent="update" v-else>Update</button>
    </form>
    <ul>
      <li v-for="(user , index) in users" :key="index" style="margin-bottom : 10px;">
        <span>{{ user.name }}</span>
        <button @click="edit(user , index )">Edit</button> ||
        <button @click="del(index)">Delete</button>
      </li>
    </ul>

  </div>

  <script>
    let vm = new Vue({
      el : "#app",
      data : {
        users : [
          { name : 'Muhammad Iqbal'},
          { name : 'Ruby Purwanti'},
          { name : 'Faqih Muhammad'},
        ],
        form : {
          name : ''
        },
        buttonUpdate : false,
        idSelected : null
      },
      methods : {
        add : function(){
          if(this.form.name){
            this.users.push(this.form)
            this.form = {}
          }
        },
        edit : function(user , index){
          this.form.name = user.name
          this.buttonUpdate = true
          this.idSelected = index

        },
        update : function(){
          this.users[this.idSelected].name = this.form.name
          this.form = {}
          this.buttonUpdate = false
          this.idSelected = null
        },
        del : function(index){
          let status = confirm('Anda yakin ?')

          if(status){
            this.users.splice(index , 1)
          }

          

        }
      }
    })
  </script>
</body>
</html>