<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <template>
        <div class="w-4/12 m-auto">
          <div class="w-auto">
            <input type="text" v-model="todoName" />
            <button @click="submitHendeler" v-if="!isEdit">Add Todo</button>
            <button @click="updateHendeler" v-if="isEdit">Update Todo</button>
          </div>
          <div>
            <ul class="mt-3">
              <li
                class="list-none w-full flex justify-between mb-3 p-2 bg-sky-500 rounded shadow shadow-sky-500/50"
                v-for="todo in todos"
                :key="todo.id"
              >
                <span class="text-white text-lg">{{ todo.name }}</span>
                <div>
                  <button
                    @click="() => editHendeler(todo)"
                    class="bg-green-600 px-3 py-1 text-white ml-1 rounded shadow shadow-green-500/50"
                  >
                    Edit
                  </button>
                  <button
                    @click="() => deleteHendeler(todo.id)"
                    class="bg-red-600 px-3 py-1 text-white ml-1 rounded shadow shadow-red-500/50"
                  >
                    Delete
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </template>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data() {
          return {
            todoName: "",
            todos: [
              { id: "Muhammad Iqbal Mubaroq", name: "Muhammad Iqbal Mubaroq" },
              { id: "Ruby Purwanti", name: "Ruby Purwanti" },
              { id: "Faqih Muhammad", name: "Faqih Muhammad" },
            ],
            isEdit: false,
            editId: null,
          };
        },
        methods: {
          submitHendeler() {
            if (this.todoName !== "") {
              const newObject = {
                id: Date.now(),
                name: this.todoName,
              };
              this.todos = [newObject, ...this.todos];
              this.todoName = "";
            } else {
              alert("Enter The Todo");
            }
          },
          editHendeler({ name, id }) {
            this.isEdit = true;
            this.todoName = name;
            this.editId = id;
          },
          deleteHendeler(id) {
            this.todos = [...this.todos.filter((items) => items.id !== id)];
          },
          updateHendeler() {
            if (this.todoName !== "") {
              this.todos = [
                ...this.todos
                  .filter((items) => items.id === this.editId)
                  .map((item) => ({ ...item, name: this.todoName })),
                ...this.todos
                  .filter((items) => items.id !== this.editId)
                  .map((item) => ({ ...item })),
              ];
              this.todoName = "";
              this.isEdit = false;
            } else {
              alert("Update Your Todos");
            }
          },
        },
      });
    </script>
  </body>
</html>
