<template>
  <v-card :to="`/blog/` + blog.id" class="mt-5 ma-3">
    <v-img
      height="300px"
      :src="
        blog.photo ? apiDomain + blog.photo : `https://picsum.photos/200/300`
      "
      class="white--text"
    >
      <!-- <v-card-title class="pb-0">{{ blog.title }}</v-card-title> -->
    </v-img>
    <v-card-subtitle class="text--primary">{{ blog.title }}</v-card-subtitle>
    <v-card-text>{{ blog.description.substring(0, 30) }}...</v-card-text>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    apiDomain: "http://demo-api-vue.sanbercloud.com",
  }),
  props: ["blog"],
};
</script>
