<template>
  <v-card>
    <v-toolbar dark color="success">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Edit</v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>
    <v-container fluid>
      <h2 class="text-center mb-5">Edit Blog</h2>
      <v-divider class="mb-5"></v-divider>
      <v-form ref="form">
        <h4 class="ml-1 mb-3">Blog Title</h4>
        <v-text-field
          v-model="blog.title"
          label="Title"
          required
          outlined
          :counter="30"
          :rules="titleRules"
        ></v-text-field>
        <h4 class="ml-1 mb-3">Blog Description</h4>
        <v-textarea
          outlined
          v-model="blog.description"
          :counter="500"
          :rules="descriptionRules"
        >
          <template v-slot:label>
            <div>Blog Description <small>(optional)</small></div>
          </template>
        </v-textarea>
        <div class="text-center mt-2 mb-5">
          <v-btn color="success" dark block @click="update"> Update </v-btn>
        </div>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      blog: {},
      errors: [],
      titleRules: [
        (v) => !!v || "Title is required",
        (v) => (v && v.length <= 30) || "Title must be less than 30 characters",
      ],
      descriptionRules: [
        (v) => !!v || "Description is required",
        (v) =>
          (v && v.length <= 500) ||
          "Description must be less than 500 characters",
      ],
      apiDomain: "https://demo-api-vue.sanbercloud.com",
    };
  },
  computed: {
    ...mapGetters({
      value: "dialog/params",
      token: "auth/token",
    }),
  },
  methods: {
    ...mapActions({
      setAlert: "alert/set",
      setStatus: "dialog/setStatus",
    }),
    validationForm() {
      this.errors = [];
      //Validate Title
      if (!this.blog.title) {
        this.errors.push("Judul tidak boleh kosong!");
      } else if (this.blog.title.length > 50) {
        this.errors.push("Judul tidak boleh lebih dari 50 karakter!");
      }
      //Validate Description
      if (!this.blog.description) {
        this.errors.push("Deskripsi tidak boleh kosong!");
      } else if (this.blog.description.length > 500) {
        this.errors.push("Email tidak boleh lebih dari 500 karakter!");
      }
    },
    update() {
      this.validationForm();
      if (this.errors.length === 0) {
        let formData = new FormData();
        formData.append("title", this.blog.title);
        formData.append("description", this.blog.description);
        const config = {
          method: "POST",
          url: this.apiDomain + "/api/v2/blog/" + this.blog.id,
          data: formData,
          headers: {
            Accept: "application/json",
            Authorization: "Bearer " + this.token,
          },
          params: { _method: "PUT" },
        };
        this.axios(config)
          .then((response) => {
            console.log(response.data);
            this.setAlert({
              status: true,
              color: "success",
              text: "Blog berhasil diupdate.",
            });
            this.close();
            console.log(this.blog);
            this.$router.go();
            //this.$router.push("/");
          })
          .catch((response) => {
            console.log(response);
            this.setAlert({
              status: true,
              color: "error",
              text: "Blog gagal diupdate.",
            });
          });
      }
    },
    go() {
      //let { id } = this.id;
      const config = {
        method: "GET",
        url: this.apiDomain + "/api/v2/blog/" + this.value.id,
      };
      this.axios(config)
        .then((response) => {
          let { blog } = response.data;
          this.blog = blog;
          console.log(this.blog);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    close() {
      this.$emit("closed", false);
    },
  },
  created() {
    this.go();
  },
};
</script>
