<template>
  <v-card>
    <v-toolbar dark color="success">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Register</v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>
    <v-container fluid>
      <v-form ref="form">
        <v-text-field
          v-model="email"
          label="Email"
          required
          append-icon="mdi-email"
          :rules="emailRules"
        ></v-text-field>
        <v-text-field
          v-model="password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          label="Password"
          counter
          :rules="passwordRules"
          @click:append="showPassword = !showPassword"
        ></v-text-field>
        <v-text-field
          v-model="name"
          label="Nama"
          required
          append-icon="mdi-account"
          :rules="nameRules"
        ></v-text-field>

        <v-file-input
          v-model="photoProfile"
          label="Photo Profile"
          filled
          prepend-icon="mdi-camera"
          accept="image/*"
          show-size
          truncate-length="50"
        ></v-file-input>
        <v-alert v-if="errors.length > 0" border="right" type="error">
          <ul v-for="error of errors" :key="error">
            <li>{{ error }}</li>
          </ul>
        </v-alert>
        <div class="text-xs-center">
          <v-btn color="success lighten-1" @click="submit">Register</v-btn>
          <v-icon right dark>mdi-lock-open</v-icon>
        </div>
      </v-form>
    </v-container>
  </v-card>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      errors: [],
      name: "",
      email: "",
      password: "",
      nameRules: [
        (v) => !!v || "Name is required",
        (v) => (v && v.length <= 30) || "Name must be less than 30 characters",
      ],
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      passwordRules: [
        (v) => !!v || "Password is required",
        (v) =>
          (v && v.length >= 8) || "Password must be longer than 8 characters",
      ],
      photoProfile: [],
      showPassword: false,
      apiDomain: "https://demo-api-vue.sanbercloud.com",
    };
  },
  methods: {
    ...mapActions({
      setAlert: "alert/set",
      setToken: "auth/setToken",
    }),
    validationForm() {
      this.errors = [];
      if (!this.name || !this.email || !this.password) {
        this.errors.push("data tidak valid");
      }
    },
    submit() {
      this.validationForm();
      if (this.errors.length === 0) {
        //this.photoProfile = this.$refs.photo.files[0];

        let formRegisterData = new FormData();
        formRegisterData.append("name", this.name);
        formRegisterData.append("email", this.email);
        formRegisterData.append("password", this.password);
        formRegisterData.append("photo_profile", this.photoProfile);

        const config = {
          method: "post",
          url: this.apiDomain + "/api/v2/auth/register",
          data: formRegisterData,
        };
        this.axios(config)
          .then((response) => {
            // this.setToken(response.data.access_token)
            console.log(response.data);
            this.setAlert({
              status: true,
              color: "teal darken-1",
              text: "Akun berhasil dibuat.",
            });
            this.close();
          })
          .catch((response) => {
            console.log(response);
            this.setAlert({
              status: true,
              color: "error",
              text: "Akun gagal dibuat.",
            });
          });
      }
    },
    close() {
      this.$emit("closed", false);
    },
  },
};
</script>
