<template>
  <v-card>
    <v-toolbar dark color="orange darken-3" class="white--text ma-1">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Upload Photo Blog</v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>
    <v-container fluid>
      <h2 class="text-center mb-5">Upload Photo Blog</h2>
      <v-divider class="mb-5"></v-divider>
      <v-file-input
        v-model="photoBlog"
        label="Photo Blog"
        filled
        prepend-icon="mdi-camera"
        accept="image/*"
        show-size
        truncate-length="50"
      ></v-file-input>
      <div class="text-center mt-2 mb-5">
        <v-btn
          color="orange darken-3"
          class="white--text ma-1"
          dark
          block
          @click="update"
        >
          Update
        </v-btn>
      </div>
    </v-container>
  </v-card>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      //blog: {},
      //errors: [],
      photoBlog: [],

      apiDomain: "https://demo-api-vue.sanbercloud.com",
    };
  },
  computed: {
    ...mapGetters({
      value: "dialog/params",
      token: "auth/token",
    }),
  },
  methods: {
    ...mapActions({
      setAlert: "alert/set",
      setStatus: "dialog/setStatus",
    }),
    validationForm() {
      this.errors = [];
    },
    update() {
      this.validationForm();
      if (this.errors.length === 0) {
        let formData = new FormData();
        formData.append("photo", this.photoBlog);

        const config = {
          method: "POST",
          url:
            this.apiDomain + "/api/v2/blog/" + this.blog.id + "/upload-photo",
          data: formData,
          headers: {
            Authorization: "Bearer " + this.token,
          },
        };
        this.axios(config)
          .then((response) => {
            console.log(response.data);
            this.setAlert({
              status: true,
              color: "success",
              text: "Blog Photo berhasil diupdate.",
            });
            this.close();
            console.log(this.blog);
            this.$router.go();
            //this.$router.push("/");
          })
          .catch((response) => {
            console.log(response);
            this.setAlert({
              status: true,
              color: "error",
              text: "Blog Photo gagal diupdate.",
            });
          });
      }
    },
    go() {
      //let { id } = this.id;
      const config = {
        method: "GET",
        url: this.apiDomain + "/api/v2/blog/" + this.value.id,
      };
      this.axios(config)
        .then((response) => {
          let { blog } = response.data;
          this.blog = blog;
          console.log(this.blog);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    close() {
      this.$emit("closed", false);
    },
  },
  created() {
    this.go();
  },
};
</script>
