<!-- soal 1 -->
<!-- Perhatikan instruksi berikut : https://www.youtube.com/watch?v=enjSSujNA-Y , 
    dan buatlah index2.html , dan kerjakan soal 2 pada index2.html -->
<!-- jawaban soal 2 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soal 2</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
      <h1>{{'Nilai a : ' + a}}</h1>
      <h1>{{'Rata rata : ' + b}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          b: 0,
        },
        methods: {
          openForm: function () {
            sum = 0;
            for (let i = 1; i < 99; i++) {
              let nilai = prompt("Masukkan nilai a");
              sum += parseInt(nilai);
              if (sum >= 10) {
                this.a = sum;
                this.b = sum / i;
                break;
              }
            }
          },
        },
      });
    </script>
  </body>
</html>
