<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <div id="app">
      <!-- <p>{{ message }}</p>
      <p v-once>{{ message }}</p>
      <p v-html="message2"></p>
      <p>{{ message + " " + message }}</p>
      <p>{{ `number * 20 = ${number *20}` }}</p>
      <p>{{ bool ? 'YES' : 'NO' }}</p>
      <p>{{ message.split('').reverse().join('')}}</p> -->
    </div>
    <script>
      var template = `<div>
        <p>{{ message }}</p>
        <p v-once>{{ message }}</p>
        <p v-html="message2"></p>
        <p>{{ message + " " + message }}</p>
        <p>{{ 'number * 20 = ' + number * 20 }}</p>
        <p>{{ bool ? 'YES' : 'NO' }}</p>
        <p>{{ message.split('').reverse().join('')}}</p>
        <p>{{ sum }}</p>
        <p>{{ concat }}</p>
        <p>{{ concat2 }}</p>
        <p>{{ fullname }}</p>
        <p>{{ c(99) }}</p>
        <button onclick="app.d(2)">Click Me</button>
        <p>{{ count }}</p>
        <button onclick="app.notif(app.name)">Click Notif</button>
        <br>
        <br>
        <p>{{xonewaybinding}}</p>
        <input type="text" v-bind:value="message" /> atau <input type="text" :value="message" /> 
        <p>{{message}}</p>
        <p>{{xtwowaybinding}}</p>
        <input type="text" v-model:value="name" />
        <p>{{name}}</p>

        </div>`;
      var app = new Vue({
        el: "#app", //sesuaikan dengan id pada html
        data: {
          message: "Hello Vue!",
          message2: '<span style="color: red">Hello Henhen</span>',
          number: 100,
          number2: 5,
          bool: true,
          name: "Henhen",
          name2: "Imam",
          count: 1,
        },
        // menampilkan message bisa juga pakai template
        template: template,
        computed: {
          sum: function () {
            return this.number + this.number2;
          },
          concat: function () {
            return this.name + " " + this.name2;
          }, //atau
          concat2: function () {
            return `${this.name} ${this.name2}`;
          }, // ini agar fullname bisa dirubah lewat console
          fullname: {
            get() {
              return this.name + " " + this.name2;
            },
            set(params) {
              this.name = params.split(" ")[0];
              this.name2 = params.split(" ")[1];
            },
          },
        },
        methods: {
          c(params) {
            return this.number + params;
          },
          d(params) {
            this.count = this.count + params;
            //this.count++;
          },
          notif(params) {
            alert(params);
          },
        },
      });
    </script>
  </body>
</html>
