<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas 12</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      img {
        width: 100px;
        height: 100px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="submitForm()">
        <div v-if="errors.length > 0">
          <b>Please correct the following errors :</b>
          <ul>
            <li v-for="error in errors">{{error}}</li>
          </ul>
        </div>

        <table>
          <tr>
            <td>Nama :</td>
            <td>
              <input
                type="text"
                :disabled="buttonStatus ==='upload'"
                v-model="form.name"
              />
            </td>
          </tr>
          <tr>
            <td>Alamat :</td>
            <td>
              <input
                type="text"
                :disabled="buttonStatus ==='upload'"
                v-model="form.address"
              />
            </td>
          </tr>
          <tr>
            <td>No HP :</td>
            <td>
              <input
                type="text"
                :disabled="buttonStatus ==='upload'"
                v-model="form.no_hp"
              />
            </td>
          </tr>
          <tr v-if="buttonStatus === 'submit'">
            <td><button type="submit">SUBMIT</button></td>
          </tr>
        </table>
      </form>
      <div v-if="buttonStatus === 'update'">
        <button @click="updateMember(form.id)" value="update">Update</button
        ><br />
        <button @click="clearForm" value="cancel">Cancel</button>
      </div>
      <div v-if="buttonStatus === 'upload'">
        <input type="file" name="photo" ref="photo" />
        <button @click="submitPhoto(form.id)">Upload</button>
        <button @click="clearForm" value="cancel">Cancel</button>
      </div>

      <table border="1">
        <thead>
          <td>Foto</td>
          <td>Nama</td>
          <td>Alamat</td>
          <td>No Hp</td>
          <td>Action</td>
        </thead>
        <tbody>
          <tr v-for="(member, index) in members" :key="index">
            <td>
              <img
                v-if="member.photo_profile != null"
                v-bind:src="url + member.photo_profile"
              />
              <img v-else v-bind:src="dummy" />
            </td>
            <td>{{member.name}}</td>
            <td>{{member.address}}</td>
            <td>{{member.no_hp}}</td>
            <td>
              <button @click="detailMember(member.id)">Detail</button>
              <button @click="editMember(member)">Edit</button>
              <button @click="removeMember(member.id)">Hapus</button>
              <button @click="uploadPhoto(member)">Upload Photo</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script>
      let vm = new Vue({
        el: "#app",
        data: {
          url: "http://demo-api-vue.sanbercloud.com",
          form: {
            id: "",
            name: "",
            address: "",
            no_hp: "",
          },
          errors: [],
          members: [],
          buttonStatus: "submit",
          dummy: "https://dummyimage.com/100/cccccc",
        },
        created() {
          //halaman belum muncul, jadi dipanggil disini
          this.getMembers();
        },
        methods: {
          clearForm: function () {
            (this.form.name = ""),
              (this.form.address = ""),
              (this.form.no_hp = ""),
              (this.buttonStatus = "submit"),
              (this.form.id = "");
          },
          validationForm: function () {
            this.errors = [];
            if (this.form.name.length < 5) {
              this.errors.push("Nama minimal 5 karakter");
            }
            if (this.form.address.length < 5) {
              this.errors.push("Address minimal 5 karakter");
            }
            if (this.form.no_hp.length < 5) {
              this.errors.push("No HP minimal 5 karakter");
            }
          },
          submitForm: function () {
            this.validationForm();

            if (this.errors.length == 0) {
              let formData = new FormData();
              formData.append("name", this.form.name);
              formData.append("address", this.form.address);
              formData.append("no_hp", this.form.no_hp);

              const config = {
                method: "post",
                url: "http://demo-api-vue.sanbercloud.com/api/member",
                data: formData,
              };

              axios(config)
                .then((response) => {
                  console.log(response.data.message);
                  this.clearForm();
                  alert(response.data.message);
                  this.getMembers();
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          },
          getMembers: function () {
            const config = {
              method: "get",
              url: "http://demo-api-vue.sanbercloud.com/api/member",
            };

            axios(config)
              .then((response) => {
                //console.log(response);
                this.members = response.data.members;
              })
              .catch((error) => {
                console.log(error);
              });
          },
          detailMember: function (id) {
            const config = {
              method: "get",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            };

            axios(config)
              .then((response) => {
                console.log(response);
                let detail =
                  "Nama : " +
                  response.data.member.name +
                  "\nAlamat : " +
                  response.data.member.address +
                  "\nNo Hp : " +
                  response.data.member.no_hp;
                alert(detail);
              })
              .catch((error) => {
                console.log(error);
              });
          },
          removeMember: function (id) {
            const config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params: { _method: "DELETE" },
            };

            axios(config)
              .then((response) => {
                //console.log(response.data.message);
                this.clearForm();
                alert(response.data.message);
                this.getMembers();
              })
              .catch((error) => {
                console.log(error);
              });
          },
          editMember: function (member) {
            this.form.id = member.id;
            this.form.name = member.name;
            this.form.address = member.address;
            this.form.no_hp = member.no_hp;
            this.buttonStatus = "update";
          },
          updateMember: function (id) {
            this.validationForm();

            if (this.errors.length === 0) {
              let formData = new FormData();
              formData.append("name", this.form.name);
              formData.append("address", this.form.address);
              formData.append("no_hp", this.form.no_hp);

              const config = {
                method: "post",
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                params: { _method: "PUT" },
                data: formData,
              };

              axios(config)
                .then((response) => {
                  //console.log(response.data.message);
                  this.clearForm();
                  alert(response.data.message);
                  this.getMembers();
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          },
          uploadPhoto: function (member) {
            //console.log(member);
            this.buttonStatus = "upload";
            this.form.id = member.id;
            this.form.name = member.name;
            this.form.address = member.address;
            this.form.no_hp = member.no_hp;
          },
          submitPhoto: function (id) {
            //console.log(id);
            let file = this.$refs.photo.files[0];
            let formData = new FormData();
            formData.append("photo_profile", file);

            const config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
              data: formData,
            };

            axios(config)
              .then((response) => {
                //console.log(response.data.message);
                this.clearForm();
                alert(response.data.message);
                this.getMembers();
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
      });
    </script>
  </body>
</html>
