<!-- soal -->
<!--1. ada data buku
    2. tampilkan dalam bentuk list
    3. diatas ada form input 
    4. ketika form diisi, maka muncul list sesuai kata kunci
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Buku</title>
    <!-- Menyisipkan Vuejs dari CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h2>Daftar Buku:</h2>
      <input
        type="text"
        placeholder="ketikkan kata kunci"
        v-model:value="search"
      />
      <ul>
        <li v-for="(book,index) in filteredBooks" :key="index">{{book}}</li>
      </ul>
    </div>
    <script>
      var app = new Vue({
        el: "#app", //sesuaikan dengan id pada html
        data: {
          search: "",
          books: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linier Elementer",
            "Aljabar Abstrak",
            "Algoritma Pemrograman",
          ],
        },
        computed: {
          filteredBooks: function () {
            let newBooks = this.books.filter((el) => {
              return el.toLowerCase().includes(this.search.toLowerCase());
            });
            return newBooks;
          },
        },
      });
    </script>
  </body>
</html>
